.statement-account-details {
    /* margin-top: 10em; */
    margin-inline: 2em;
}

.account-details-wrapper{
    position: fixed;
    /* left: 2em; */
    top: 8em;
    /* right:7.952em; */
    left: 5em;
    width: 80%;
    margin-inline: auto;
    margin-block: 2em;
    z-index: 99;
}

.account-details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.account-details div {
    display: flex;
    flex-direction: column;
}

.deposit-plan {
    margin-block: 0.5em;
    text-align: center;
}

.statement {
    width: 80%;
    margin: auto;
    margin-top: 18em;
}

table {
    text-align: right;
    border-collapse: collapse;
    margin-inline: 2em;
    /* border: 1px solid; */
}

th {
    background-color: grey;
}

th,
td {
    border: 1px solid;
    padding-block: 0.5em;
    padding-inline: 1em;
}

@page{
    margin-top: 4em;
}

/* Styles for printing */
@media print {
    body {
        -webkit-print-color-adjust: exact; /* For Chrome and Safari */
        color-adjust: exact; /* For Firefox */
        margin:0;
        padding: 0;
    }


    table {
        border-collapse: collapse;  
        /* margin: 0 auto; */
    }

    td,
    th {
        border: 2px solid black;
        padding-block: 0.5em;
        padding-inline: 1em;
        font-size: 0.9em;
    }

    th {
        background-color: grey !important;
    }

    button {
        display: none;
    }

    .account-details-wrapper {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
    }
    .statement {
        margin-top: 10em; /* Adjust as needed */
    }
    
}